{% extends 'madmin/base.html' %}

{% block page_header %}

    <!-- Start Page Header -->
    <div class="page-header">
        <h1 class="title">Assign Driver</h1>
        <ol class="breadcrumb">
            <li><a href="">Admin</a></li>
            <li><a href="{% url 'madmin:order_list' %}">Orders</a></li>
            <li class="active">Assign Driver</li>
        </ol>

        <!-- Start Page Header Right Div -->
        <div class="right">
            <div class="btn-group" role="group" aria-label="...">
                <a href="{% url 'madmin:order_list' %}" class="btn btn-light">All Orders</a>
                <a href="{% url 'madmin:pending_order_list' %}" class="btn btn-light">Pending Orders</a>
            </div>
        </div>
        <!-- End Page Header Right Div -->

    </div>
    <!-- End Page Header -->

{% endblock %}


{% block content %}
    <!-- Start Panel -->
    <div class="col-md-12">
        <div class="panel panel-default">

            <!--
            <div class="panel-title">
                Customers List
            </div> -->

            <div class="panel-body">
                The orders have been assigned to {{ driver.username }}
            </div>

        </div>
    </div>
    <!-- End Panel -->
{% endblock %}