<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Kode is a Premium Bootstrap Admin Template, It's responsive, clean coded and mobile friendly">
    <meta name="keywords" content="bootstrap, admin, dashboard, flat admin template, responsive,"/>
    <title>{% block title %} Dev2you app {% endblock %}</title>

    <!-- ========== Css Files ========== -->
    <link href="{{ STATIC_URL }}css/root.css" rel="stylesheet">

    <!-- ================================================
    jQuery Library
    ================================================ -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>

    <!-- ================================================
    Bootstrap Core JavaScript File
    ================================================ -->
    <script src="{{ STATIC_URL }}js/bootstrap/bootstrap.min.js"></script>

    <!-- ================================================
    Plugin.js - Some Specific JS codes for Plugin Settings
    ================================================ -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/plugins.js"></script>

    <script type="text/javascript">
        $(function () {
            $('a[href*="delete?model"]').on('click', function (e) {
                e.preventDefault();
                event.stopPropagation();
                console.log($(this).attr('href'));
                var confirmation = confirm("Are you sure to delete? Once deleted, it can not be undone");
                if (confirmation == true) {
                    window.location = $(this).attr('href');
                } else {
                    console.log("no");
                }
            });
        });
    </script>


    {% block head %} {% endblock %}

</head>
<body>
<!-- Start Page Loading -->
<div class="loading"><img src="{{ STATIC_URL }}img/loading.gif" alt="loading-img"></div>
<!-- End Page Loading -->


<!-- //////////////////////////////////////////////////////////////////////////// -->
{% include 'madmin/top.html' %}
<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- //////////////////////////////////////////////////////////////////////////// -->
{% include 'madmin/sidebar.html' %}
<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START CONTENT -->
<div class="content">

    {% block page_header %}

    {% endblock %}

    {% if messages %}
        <div style="text-align: center" class="messages">
            {% for message in messages %}
                <span class="alert alert-info">  {{ message }} </span><br/>
            {% endfor %}
        </div>
    {% endif %}

    <br/>

    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START CONTAINER -->
    <div class="container-default">


        {% block content %}


        {% endblock %}

    </div>
    <!-- END CONTAINER -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->


    {% include 'madmin/footer.html' %}

</div>
<!-- End Content -->
<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- //////////////////////////////////////////////////////////////////////////// -->
{% include 'madmin/side_panel.html' %}
<!-- //////////////////////////////////////////////////////////////////////////// -->


</body>
</html>