{% extends 'madmin/base.html' %}

{% block page_header %}

    <script type="application/javascript">

    </script>
{% endblock %}


{% block content %}
    <!-- Start Panel -->
    <div class="col-md-12">
        <div class="panel panel-default">
            <strong>Current Balance</strong>
             {{ balance }} SAR

            <br/>
            <br/>

            <form method="post">
                {% csrf_token %}
                <strong>Change</strong><br/>
                <small>(Add positive or negative amount. ie: 20 or -10)</small>
                <br/>
                <input type="text" name="amount">
                <input type="hidden" name="user" value="{{ user }}">
                <input type="submit" class="btn btn-info">
            </form>

        </div>
    </div>
    <!-- End Panel -->
{% endblock %}