 <!-- Start Footer -->



    <div class="row footer">

        <div class="col-md-6 text-left">
           <!-- Copyright © 2015 -->
        </div>
        <div class="col-md-6 text-right">
           <!-- Some company -->
        </div>
    </div>



    <!-- End Footer -->
