{% extends 'madmin/base.html' %}

{% block page_header %}

    <!-- Start Page Header -->
    <div class="page-header">
        <h1 class="title">Hidden Driver Evaluation</h1>
        <ol class="breadcrumb">
            <li><a href="">Admin</a></li>
            <li><a href="#">Hidden Driver Evaluations</a></li>
            <li class="active">List</li>
        </ol>

        <!-- Start Page Header Right Div -->
        <div class="right">
            <div class="btn-group" role="group" aria-label="...">
            </div>
        </div>
        <!-- End Page Header Right Div -->

    </div>
    <!-- End Page Header -->

{% endblock %}


{% block content %}
    <!-- Start Panel -->
    <div class="col-md-12">
        <div class="panel panel-default">

            <!--
            <div class="panel-title">
                drivers List
            </div> -->

            <div class="panel-body table-responsive">
                <form method="POST">
                    {% csrf_token %}
                    <strong>Message:</strong><br/>
                    <textarea name="message"></textarea><br/>
                    <input type="submit" value="Save">

                </form>
                <br/>
                <hr/>
                {% for review in reviews %}

                    <strong>Review:</strong><br/>{{ review.message }}
                    <hr/>

                {% endfor %}

            </div>

            <!---- PAGINATION ------>


            <div style="text-align: center;">
                <nav>
                    <ul class="pagination pagination-lg">

                        {% if page_obj.has_previous %}

                            <li>
                                <a href="{% url 'madmin:driver_evaluation_list' %}?page={{ page_obj.previous_page_number }}&status={{ status }}&driver={{ driver }}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>

                        {% endif %}


                        {% for page_no in paginator.page_range %}
                            <li>
                                <a href="{% url 'madmin:driver_evaluation_list' %}?page={{ page_no }}&status={{ status }}&driver={{ driver }}">{{ page_no }}</a>
                            </li>
                        {% endfor %}

                        {% if page_obj.has_next %}

                            <li>
                                <a href="{% url 'madmin:driver_evaluation_list' %}?page={{ page_obj.next_page_number }}&status={{ status }}&driver={{ driver }}"
                                   aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>

                        {% endif %}

                    </ul>

                </nav>
            </div>

            <!---- END PAGINATION ------>

        </div>
    </div>
    <!-- End Panel -->
{% endblock %}