{% extends 'madmin/base.html' %}

{% block page_header %}

    <!-- Start Page Header -->
    <div class="page-header">
        <h1 class="title">Search Results</h1>
        <ol class="breadcrumb">
            <li><a href="">Admin</a></li>
            <li class="active">Search Results</li>
        </ol>


    </div>
    <!-- End Page Header -->

{% endblock %}


{% block content %}
    <!-- Start Panel -->
    <div class="col-md-12">
        <div class="panel panel-default">

            <h3>Customer</h3>
            {% if customers %}
                {% for customer in customers %}
                    <a href="{% url 'madmin:customer_update' customer.id %}">{{ customer.username }}</a> <br/>
                {% endfor %}
            {% else %}
                No customers found matching {{ query }}
            {% endif %}

            <h3>Driver</h3>
            {% if drivers %}
                {% for driver in drivers %}
                    <a href="{% url 'madmin:driver_update' driver.id %}">{{ driver.username }}</a> <br/>
                {% endfor %}
            {% else %}
                No drivers found matching {{ query }}
            {% endif %}


            <h3>Orders</h3>
            {% if orders %}
                {% for order in orders %}
                    <a href="{% url 'madmin:order_update' order.id %}">Order # {{ order.id }}</a> <br/>
                {% endfor %}
            {% else %}
                No orders found for {{ query }}
            {% endif %}


            <h3>Bank Accounts</h3>
            {% if bank_accounts %}
                {% for bank_account in bank_accounts %}
                    <a href="{% url 'madmin:bank_account_update' bank_account.id %}">{{ bank_account.bank.name }}
                        -- {{ bank_account.account_no }}</a> <br/>
                {% endfor %}
            {% else %}
                No bank accounts found for {{ query }}
            {% endif %}

            <h3>Stores</h3>
            {% if stores %}
                {% for store in stores %}
                    <a href="{% url 'madmin:store_update' store.id %}">{{ store.name }}</a> <br/>
                {% endfor %}
            {% else %}
                No stores matching {{ query }}
            {% endif %}

            <h3>Store Items</h3>
            {% if store_items %}
                {% for store_item in store_items %}
                    <a href="{% url 'madmin:store_item_update' store_item.id %}">{{ store_item.name }}
                        (Store: {{ store_item.store_id }}) </a> <br/>
                {% endfor %}
            {% else %}
                No store items matching {{ query }}
            {% endif %}

        </div>
    </div>
    <!-- End Panel -->
{% endblock %}