{% extends 'madmin/base.html' %}

{% block page_header %}

    <!-- Start Page Header -->
    <div class="page-header">
        <h1 class="title">Send Mass Notification</h1>
        <ol class="breadcrumb">
            <li><a href="">Admin</a></li>
            <li><a href="#">Notifications</a></li>
            <li class="active">Send To All</li>
        </ol>

        <!-- Start Page Header Right Div -->
        <div class="right">
            <div class="btn-group" role="group" aria-label="...">
            </div>
        </div>
        <!-- End Page Header Right Div -->

    </div>
    <!-- End Page Header -->

{% endblock %}


{% block content %}
    <!-- Start Panel -->
    <div class="col-md-12">
        <div class="panel panel-default">

            <div class="panel-body table-responsive">

                {% if pushed %}
                    Mass notifications have been queued!
                {% endif %}

                <form method="POST">
                    {% csrf_token %}
                    <strong>Message:</strong><br/>
                    <textarea name="message"></textarea><br/>
                    <input type="submit" value="Send">

                </form>
                <br/>
                <hr/>


            </div>

        </div>
    </div>
    <!-- End Panel -->
{% endblock %}