<!-- START SIDEBAR -->
<div class="sidebar clearfix">

    <ul class="sidebar-panel nav">
        <li><a href="{% url 'madmin:order_list' %}"><span class="icon color5"><i class="fa fa-shopping-cart"></i></span>Orders</a></li>
        <li><a href="{% url 'madmin:driver_list' %}"><span class="icon color5"><i class="fa fa-car"></i></span>Drivers</a></li>
        <li><a href="{% url 'madmin:driver_evaluation_list' %}"><span class="icon color5"><i class="fa fa-bullhorn"></i></span>Driver Evaluations</a></li>
        <li><a href="{% url 'madmin:customer_list' %}"><span class="icon color5"><i class="fa fa-users"></i></span>Customers</a></li>
        <li><a href="{% url 'madmin:store_list' %}"><span class="icon color5"><i class="fa fa-gift"></i></span>Stores</a></li>
        <li><a href="{% url 'madmin:store_item_list' %}"><span class="icon color5"><i class="fa fa-tasks"></i></span>Store Items</a></li>
        <li><a href="{% url 'madmin:store_branch_list' %}"><span class="icon color5"><i class="fa fa-sitemap"></i></span>Store Branches</a></li>
        <li><a href="{% url 'madmin:store_photo_list' %}"><span class="icon color5"><i class="fa fa-photo"></i></span>Store Photos</a></li>
    </ul>

    <ul class="sidebar-panel nav">
        <li class="sidetitle">Configuration</li>
        <li><a href="{% url 'madmin:district_list' %}"><span class="icon color5"><i class="fa fa-map-marker"></i></span>Districts</a></li>
        <li><a href="{% url 'madmin:bank_list' %}"><span class="icon color5"><i class="fa fa-bank"></i></span>Banks</a></li>
        <li><a href="{% url 'madmin:bank_account_list' %}"><span class="icon color5"><i class="fa fa-key"></i></span>Bank Accounts</a></li>
        <li><a href="{% url 'madmin:store_owner_list' %}"><span class="icon color5"><i class="fa fa-user-md"></i></span>Store Owners</a></li>
        <li><a href="{% url 'madmin:store_type_list' %}"><span class="icon color5"><i class="fa fa-qrcode"></i></span>Store Types</a></li>
        <li><a href="{% url 'madmin:payment_method_list' %}"><span class="icon color5"><i class="fa fa-credit-card"></i></span>Payment Types</a></li>
        <li><a href="{% url 'madmin:app_setting_list' %}"><span class="icon color5"><i class="fa fa-mobile-phone"></i></span>Mobile App Settings</a></li>

    </ul>
     <ul class="sidebar-panel nav">
        <li class="sidetitle">Utilities</li>


        <li><a href="{% url 'madmin:notify_all' %}"><span class="icon color5"><i class="fa fa-bell"></i></span>Notify All</a></li>


        <!--<li><a href="{% url 'madmin:user_location_list' %}"><span class="icon color5"><i class="fa fa-map-marker"></i></span>User Locations</a></li>-->



        <!--
        <li><a href="mailbox.html"><span class="icon color6"><i class="fa fa-envelope-o"></i></span>Mailbox<span
                class="label label-default">19</span></a></li>
        <li><a href="#"><span class="icon color7"><i class="fa fa-flask"></i></span>UI Elements<span
                class="caret"></span></a>
            <ul>
                <li><a href="icons.html">Icons</a></li>
                <li><a href="tabs.html">Tabs</a></li>
                <li><a href="buttons.html">Buttons</a></li>
                <li><a href="panels.html">Panels</a></li>
                <li><a href="notifications.html">Notifications</a></li>
                <li><a href="modal-boxes.html">Modal Boxes</a></li>
                <li><a href="progress-bars.html">Progress Bars</a></li>
                <li><a href="others.html">Others<span class="label label-danger">NEW</span></a></li>
            </ul>
        </li>
        <li><a href="charts.html"><span class="icon color8"><i class="fa fa-bar-chart"></i></span>Charts</a></li>
        <li><a href="#"><span class="icon color9"><i class="fa fa-th"></i></span>Tables<span class="caret"></span></a>
            <ul>
                <li><a href="basic-table.html">Basic Tables</a></li>
                <li><a href="data-table.html">Data Tables</a></li>
            </ul>
        </li>
        <li><a href="#"><span class="icon color10"><i class="fa fa-check-square-o"></i></span>Forms<span
                class="caret"></span></a>
            <ul>
                <li><a href="form-elements.html">Form Elements</a></li>
                <li><a href="layouts.html">Form Layouts</a></li>
                <li><a href="text-editors.html">Text Editors</a></li>
            </ul>
        </li>
        <li><a href="widgets.html"><span class="icon color11"><i class="fa fa-diamond"></i></span>Widgets</a></li>
        <li><a href="calendar.html"><span class="icon color8"><i class="fa fa-calendar-o"></i></span>Calendar<span
                class="label label-danger">NEW</span></a></li>
        <li><a href="typography.html"><span class="icon color12"><i class="fa fa-font"></i></span>Typography</a></li>
        <li><a href="#"><span class="icon color14"><i class="fa fa-paper-plane-o"></i></span>Extra Pages<span
                class="caret"></span></a>
            <ul>
                <li><a href="social-profile.html">Social Profile</a></li>
                <li><a href="invoice.html">Invoice<span class="label label-danger">NEW</span></a></li>
                <li><a href="login.html">Login Page</a></li>
                <li><a href="register.html">Register</a></li>
                <li><a href="forgot-password.html">Forgot Password</a></li>
                <li><a href="lockscreen.html">Lockscreen</a></li>
                <li><a href="blank.html">Blank Page</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="404.html">404 Page</a></li>
                <li><a href="500.html">500 Page</a></li>
            </ul>
        </li>
        -->

    </ul>

    <!--
    <ul class="sidebar-panel nav">
        <li class="sidetitle">MORE</li>
        <li><a href="grid.html"><span class="icon color15"><i class="fa fa-columns"></i></span>Grid System</a></li>
        <li><a href="maps.html"><span class="icon color7"><i class="fa fa-map-marker"></i></span>Maps</a></li>
        <li><a href="customizable.html"><span class="icon color10"><i class="fa fa-lightbulb-o"></i></span>Customizable</a>
        </li>
        <li><a href="helper-classes.html"><span class="icon color8"><i class="fa fa-code"></i></span>Helper Classes</a>
        </li>
        <li><a href="changelogs.html"><span class="icon color12"><i class="fa fa-file-text-o"></i></span>Changelogs</a>
        </li>
    </ul>
    -->

    <!--
    <div class="sidebar-plan">
        Pro Plan<a href="#" class="link">Upgrade</a>

        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                 style="width: 60%;">
            </div>
        </div>
        <span class="space">42 GB / 100 GB</span>
    </div> -->

</div>
<!-- END SIDEBAR -->