{% extends 'madmin/base.html' %}

{% block head %}

    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="{{ STATIC_URL }}js/gmaps/gmaps.js"></script>


    <script type="application/javascript">
        var map;
        var markers = [];
        {% for branch in store.branches.all %}
            markers.push({
                "lat": {{ branch.latitude }},
                "lng": {{ branch.longitude }},
                "name": "{{ branch.name }}"
            });
        {% endfor %}

        $(document).ready(function () {

            map = new GMaps({
                div: '#gmaps',
                lat: 24.7494029,
                lng: 46.90283750000003,
                zoom: 10
            });


            markers.forEach(function (loc) {
                map.addMarker({
                    lat: loc.lat,
                    lng: loc.lng,
                    title: loc.name,
                    infoWindow: {
                        content: 'Branch: ' + loc.name
                    },
                    mouseover: function () {
                        (this.infoWindow).open(this.map, this);
                    },
                    mouseout: function () {
                        this.infoWindow.close();
                    }
                });

            });

        });

    </script>

{% endblock %}

{% block page_header %}

    <!-- Start Page Header -->
    <div class="page-header">
        <h1 class="title">Store Details</h1>
        <ol class="breadcrumb">
            <li><a href="">Admin</a></li>
            <li><a href="{% url 'madmin:store_list' %}">Store</a></li>
            <li class="active">Create</li>
        </ol>


    </div>
    <!-- End Page Header -->

{% endblock %}


{% block content %}
    <!-- Start Panel -->
    <div class="col-md-12">
        <div class="panel panel-default">


            <div class="panel-title">
                Store Details
            </div>

            <h3>Store Info</h3>

            <strong>Store Name</strong>:
            {{ store.name }} <br/>

            <strong>Thumbnail</strong>:
            <img src="{{ store.thumb_url }}" alt="thumb"/> <br/>

            <strong>Description</strong>:
            {{ store.description }} <br/>

            <strong>Avg Time Spent</strong>:
            {{ store.avg_time_spent }} <br/>

            <strong>Store Type</strong>:
            {{ store.store_type }} <br/>

            <strong>Favorite</strong>:
            {{ store.favorite }} <br/>

            <h3>Branches</h3>

            <div style="height: 700px; min-height: 700px;" id="gmaps" class="gmaps"></div>


            <h3>Owner Info</h3>

            <strong>Username</strong>:
            {{ customer.username }} <br/>

            <strong>Name</strong>:
            {{ customer.first_name }}
            {{ customer.last_name }} <br/>

            <strong>Email</strong>:
            {{ customer.email }} <br/>

            <strong>Gender</strong>:
            {{ customer.get_gender_display }} <br/>

            <strong>Loyalty Amount</strong>:
            {{ customer.loyalty_amount }} <br/>

            <strong>Deposit Amount</strong>:
            {{ customer.deposit_amount }} <br/>


        </div>
    </div>
    <!-- End Panel -->
{% endblock %}