{% extends 'madmin/base.html' %}

{% block page_header %}

    <!-- Start Page Header -->
    <div class="page-header">
        <h1 class="title">Create Store</h1>
        <ol class="breadcrumb">
            <li><a href="">Admin</a></li>
            <li><a href="{% url 'madmin:store_list' %}">Store</a></li>
            <li class="active">Create</li>
        </ol>


    </div>
    <!-- End Page Header -->

{% endblock %}


{% block content %}
    <!-- Start Panel -->
    <div class="col-md-12">
        <div class="panel panel-default">


            <div class="panel-title">
                Create Store
            </div>

            <form method='post' enctype="multipart/form-data">

                {% csrf_token %}

                {% if msg %}
                    <div class="alert alert-success">
                        {{ msg }}
                    </div>

                {% endif %}

                <h3>Store Details</h3>

                {{ store_form.non_field_errors }}

                {% for field in store_form %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                        {{ field.label_tag }} <br/> {{ field }}
                    </div>

                    <br/>
                {% endfor %}


                <h3>Owner Details</h3>


                {% if branch_form %}
                    Choose existing: <br/>

                    <select name="customer_id">
                        <option value="none">--</option>
                        {% for customer in all_customers %}
                            <option value="{{ customer.id }}">{{ customer.username }}</option>
                        {% endfor %}
                    </select>

                    <br/><br/>

                {% endif %}

                {% if customer_form %}

                    {% if branch_form %}
                        <br/>OR Create New
                    {% endif %}

                    {{ customer_form.non_field_errors }}

                    {% for field in customer_form %}
                        <div class="fieldWrapper">
                            {{ field.errors }}
                            {{ field.label_tag }} <br/> {{ field }}
                        </div>

                        <br/>
                    {% endfor %}
                {% endif %}


                {% if branch_form %}
                    <h3>Add Branch</h3>

                    {{ branch_form.non_field_errors }}

                    {% for field in branch_form %}
                        <div class="fieldWrapper">
                            {{ field.errors }}
                            {{ field.label_tag }} <br/> {{ field }}
                        </div>

                        <br/>
                    {% endfor %}
                {% endif %}


                <input type='submit'>

            </form>


        </div>
    </div>
    <!-- End Panel -->
{% endblock %}