<!-- START TOP -->
<div id="top" class="clearfix">

    <!-- Start App Logo -->
    <div class="applogo">
        <a href="" class="logo">Dev2you app</a>
    </div>
    <!-- End App Logo -->

    <!-- Start Sidebar Show Hide Button -->
    <a href="#" class="sidebar-open-button"><i class="fa fa-bars"></i></a>
    <a href="#" class="sidebar-open-button-mobile"><i class="fa fa-bars"></i></a>
    <!-- End Sidebar Show Hide Button -->

    <!-- Start Searchbox -->

    <script>
        function search() {
            var query = $("#searchbox").val();
            location.href = window.location.href.split('?')[0] + "?query=" + query
        }

        $(document).ready(function () {
            $("form#search").submit(function () {
                search();
                return false;
            });
        });
    </script>

    <!--
    <form id="search" class="searchform">
        <input type="text" name="query" class="searchbox" id="searchbox" placeholder="Search">
        <span class="searchbutton"><i onclick="search()" class="fa fa-search"></i></span>
    </form> -->
    <!-- End Searchbox -->

    <!-- Start Top Menu -->
    <!--<ul class="topmenu">
        <li><a href="#">Files</a></li>
        <li><a href="#">Authors</a></li>
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">My Files <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">Videos</a></li>
                <li><a href="#">Pictures</a></li>
                <li><a href="#">Blog Posts</a></li>
            </ul>
        </li>
    </ul> -->
    <!-- End Top Menu -->

    <!-- Start Sidepanel Show-Hide Button -->
    <!--<a href="#sidepanel" class="sidepanel-open-button"><i class="fa fa-outdent"></i></a>-->
    <!-- End Sidepanel Show-Hide Button -->

    <!-- Start Top Right -->
    <ul class="top-right">

        <!--
        <li class="dropdown link">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle hdbutton">Create New <span
                    class="caret"></span></a>
            <ul class="dropdown-menu dropdown-menu-list">
                <li><a href="#"><i class="fa falist fa-paper-plane-o"></i>Product or Item</a></li>
                <li><a href="#"><i class="fa falist fa-font"></i>Blog Post</a></li>
                <li><a href="#"><i class="fa falist fa-file-image-o"></i>Image Gallery</a></li>
                <li><a href="#"><i class="fa falist fa-file-video-o"></i>Video Gallery</a></li>
            </ul>
        </li> -->

        <!--<li class="link">
            <a href="#" class="notifications">6</a>
        </li>-->


        <li class="dropdown link">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle profilebox">
                <!--<img src="{{ STATIC_URL }}img/profileimg.png" alt="img">-->
                <b>Admin</b>

                <!-- <span class="caret"></span> -->

            </a>


            <!--
            <ul class="dropdown-menu dropdown-menu-list dropdown-menu-right">
                <li role="presentation" class="dropdown-header">Profile</li>
                <li><a href="#"><i class="fa falist fa-inbox"></i>Inbox<span class="badge label-danger">4</span></a>
                </li>
                <li><a href="#"><i class="fa falist fa-file-o"></i>Files</a></li>
                <li><a href="#"><i class="fa falist fa-wrench"></i>Settings</a></li>
                <li class="divider"></li>
                <li><a href="#"><i class="fa falist fa-lock"></i> Lockscreen</a></li>
                <li><a href="#"><i class="fa falist fa-power-off"></i> Logout</a></li>
            </ul> -->
        </li>
        <li class="dropdown link">
            <a href="/admin/logout/?next=/madmin/driver/list">Logout</a>
        </li>

    </ul>
    <!-- End Top Right -->

</div>
<!-- END TOP -->
