{% extends 'madmin/base.html' %}

{% block head %}

    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="{{ STATIC_URL }}js/gmaps/gmaps.js"></script>

    <script>
        var orders = {{ orders|safe }};

        var map;
        $(document).ready(function () {
            map = new GMaps({
                div: '#gmaps',
                lat: 24.7494029,
                lng: 46.90283750000003,
                zoom: 10
            });

            orders.forEach(function (order_id) {
                updateLocations(order_id, function (response) {
                    var locations = response['driver_location'];

                    locations.forEach(function (loc) {
                        map.addMarker({
                            lat: loc.lat,
                            lng: loc.lng,
                            title: 'Order # ' + order_id,
                            infoWindow: {
                                content: 'Order # ' + order_id
                            },
                            mouseover: function () {
                                (this.infoWindow).open(this.map, this);
                            },
                            mouseout: function () {
                                this.infoWindow.close();
                            }
                        });

                    });
                })

            });


        });


        function updateLocations(order_id, callback) {
            $.get('/api/track-order/?order=' + order_id).success(function (resp) {
                callback(resp);
            });
        }

    </script>


{% endblock %}

{% block page_header %}

    <!-- Start Page Header -->
    <div class="page-header">
        <h1 class="title">Track Order</h1>
        <ol class="breadcrumb">
            <li><a href="">Admin</a></li>
            <li><a href="#">Orders</a></li>
            <li class="active">Track</li>
        </ol>

        <!-- Start Page Header Right Div -->
        <div class="right">
            <div class="btn-group" role="group" aria-label="...">
                <a href="{% url 'madmin:order_list' %}" class="btn btn-light">All Orders</a>
                <a href="{% url 'madmin:pending_order_list' %}" class="btn btn-light">Pending Orders</a>
            </div>
        </div>
        <!-- End Page Header Right Div -->

    </div>
    <!-- End Page Header -->

{% endblock %}


{% block content %}
    <!-- Start Panel -->
    <div class="col-md-12">
        <div class="panel panel-default">

            <!--
            <div class="panel-title">
                Customers List
            </div> -->

            <div class="panel-body">
                <div style="height: 700px; min-height: 700px;" id="gmaps" class="gmaps"></div>
            </div>

        </div>
    </div>
    <!-- End Panel -->
{% endblock %}