{% extends 'madmin/base.html' %}

{% block head %}

    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="{{ STATIC_URL }}js/gmaps/gmaps.js"></script>

    <script>

        var map;
        $(document).ready(function () {
            map = new GMaps({
                div: '#gmaps',
                lat: {{ driver.latitude }},
                lng: {{ driver.longitude }},
                zoom: 10
            });

            map.addMarker({
                lat: {{ driver.latitude }},
                lng: {{ driver.longitude }},
                title: 'Driver # ' + {{ driver.id }},
                infoWindow: {
                    content: 'Order # ' + {{ driver.id }} +" ( {{ driver.updated_at }} )"
                },
                mouseover: function () {
                    (this.infoWindow).open(this.map, this);
                },
                mouseout: function () {
                    this.infoWindow.close();
                }
            });
        });


    </script>


{% endblock %}

{% block page_header %}

    <!-- Start Page Header -->
    <div class="page-header">
        <h1 class="title">Track Driver</h1>
        <ol class="breadcrumb">
            <li><a href="">Admin</a></li>
            <li><a href="#">Drivers</a></li>
            <li class="active">Track</li>
        </ol>

        <!-- Start Page Header Right Div -->
        <div class="right">
            <div class="btn-group" role="group" aria-label="...">
                <a href="{% url 'madmin:driver_list' %}" class="btn btn-light">All Drivers</a>
            </div>
        </div>
        <!-- End Page Header Right Div -->

    </div>
    <!-- End Page Header -->

{% endblock %}


{% block content %}
    <!-- Start Panel -->
    <div class="col-md-12">
        <div class="panel panel-default">

            <!--
            <div class="panel-title">
                Customers List
            </div> -->

            <div class="panel-body">
                <div style="height: 700px; min-height: 700px;" id="gmaps" class="gmaps"></div>
            </div>

        </div>
    </div>
    <!-- End Panel -->
{% endblock %}