{% extends 'madmin/base.html' %}

{% block page_header %}

    <!-- Start Page Header -->
    <div class="page-header">
        <h1 class="title">User Details</h1>
        <ol class="breadcrumb">
            <li><a href="">Admin</a></li>
            <li><a href="#">User</a></li>
            <li class="active">Details</li>
        </ol>


    </div>
    <!-- End Page Header -->

{% endblock %}


{% block content %}
    <!-- Start Panel -->
    <div class="col-md-12">
        <div class="panel panel-default">

            {% if user_id %}

                {% if customer %}
                    <h3>Customer Details</h3>

                    <table class="table">
                        <thead>
                        <tr>
                            <td>Loyalty Amount</td>
                            <td>Deposit Amount</td>
                            <td>Current Balance</td>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ customer.loyalty_amount }} <span>ر.س </span></td>
                            <td>{{ balance }} <span>ر.س </span></td>

                        </tr>
                        </tbody>
                    </table>

                    <br/><br/>
                {% endif %}

                {% if driver %}
                    <h3>Driver Details</h3>
                {% endif %}

                <table class="table">
                    <thead>
                    <td>Phone/Username</td>
                    <td>First Name</td>
                    <td>Last Name</td>
                    <td>Email</td>
                    <td>Actions</td>

                    </thead>
                    <tr>
                        <td>{{ user_object.username }}</td>
                        <td>{{ user_object.first_name }}</td>
                        <td>{{ user_object.last_name }}</td>
                        <td>{{ user_object.email }}</td>
                        <td>

                            {% if customer %}
                                <a class="btn btn-default"
                                   href="{% url 'madmin:customer_update' customer.id %}">Update</a>

                            {% endif %}

                            {% if driver %}
                                <a class="btn btn-default"
                                   href="{% url 'madmin:track_driver' %}?driver={{ driver.id }}">
                                    Track
                                </a>

                                <a class="btn btn-default" href="{% url 'madmin:driver_update' driver.id %}">Update</a>
                            {% endif %}

                            <a class="btn btn-default" href="{% url 'madmin:user_balance' %}?user={{ user_object.id }}">Balance</a>

                        </td>
                    </tr>
                </table>

                {% if customer and user_locations %}

                    <h4>User Locations</h4>
                    <table class="table">
                        <thead>
                        <td>Name</td>
                        <td>House No</td>
                        <td>Door No</td>
                        <td>Street</td>
                        <td>District</td>
                        <td>Phone</td>
                        </thead>
                        {% for location in user_locations %}

                            {% if location.own_location %}

                                <tr>

                                    <td>{{ location.name }}</td>
                                    <td>{{ location.house_no }}</td>
                                    <td>{{ location.door_no }}</td>
                                    <td>{{ location.street }}</td>
                                    <td>{{ location.district }}</td>
                                    <td>{{ location.phone }}</td>

                                </tr>


                            {% endif %}


                        {% endfor %}
                    </table>

                {% endif %}

                {% if bank_accounts %}
                    <h4>Bank Accounts</h4>
                    <table class="table">
                        <thead>
                        <td>Bank Name</td>
                        <td>Account No</td>
                        <td>Branch</td>

                        </thead>
                        {% for account in bank_accounts %}
                            <tr>
                                <td>
                                    {{ account.bank.name }}
                                </td>
                                <td>
                                    {{ account.account_no }}
                                </td>
                                <td>
                                    {{ account.branch }}
                                </td>
                            </tr>

                        {% endfor %}
                    </table>
                {% endif %}

                {% if orders %}
                    <h4>Orders</h4>
                    <table class="table">
                        <thead>
                        <td>
                            Order ID
                        </td>

                        <td>Status</td>
                        </thead>

                        {% for order in orders %}
                            <tr>
                                <td>{{ order.id }}</td>
                                <td>{{ order.status }}</td>
                            </tr>

                        {% endfor %}
                    </table>
                {% endif %}

                {% if store_owners %}
                    <h4>Stores</h4>
                    <table class="table">
                        <thead>
                        <td>
                            Store Name
                        </td>

                        </thead>

                        {% for store_owner in store_owners %}
                            <tr>
                                <td>{{ store_owner.store.name }}</td>
                            </tr>

                        {% endfor %}
                    </table>
                {% endif %}



            {% else %}

                No user found!

            {% endif %}


        </div>
    </div>
    <!-- End Panel -->
{% endblock %}