﻿*{margin:0 auto;padding:0 auto;}
#accordion section, #accordion .pointer, #accordion h1, #accordion p {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
a{
	text-decoration:none;
}
#accordion {
	width:calc(100% - 60px);
	margin:0 auto;
	padding:0px 30px;
}
#accordion h3 {
  line-height:1.2;
  font-size:20px;
  background-color:#f24237;
  margin:0;
  padding: 10px 10px 10px 10px;
}

#accordion h3 a,#accordion i {
  color:#fff;
}
#accordion section {
  overflow:hidden;
  min-height:45px;
  float:left;
  background-color:#f9f9f9;
  width:100%;
  position:relative;
}
#accordion p {
  padding:15px 15px;
  color:black;
}
#accordion section.ac_hidden p:not(.pointer) {
  color:#fff;
}

#accordion section.ac_hidden {
  height:0px;
}
#accordion .pointer {
  padding:0;
  margin:10px 0 0 6px;
  line-height:20px;
  width:13px;
  position:absolute;
  right:15px;
}
#accordion section:not(.ac_hidden) h3 {
  background-color:#0093d7;
}

#accordion section:not(.ac_hidden) .pointer {
  display:block;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -o-transform:rotate(225deg);
  transform:rotate(225deg);
  padding:0;
}

.about {
	width:calc(100% - 60px);
	float:right;
	padding:0px 30px;
	margin:30px 0px;
}

.cont {
	width:calc(100% - 60px);
	float:right;
	padding:0px 30px;
	margin:30px 0px;
}
.red i{background-color:#f24237 !important;}
.cont i{
	background-color:#0093d7;
	width:50px;
	height:50px;
	color:#fff;
	display:inline-block;
	border-radius:50%;
	text-align:center;
	line-height:50px;
}

.cont p{
	color:#aaa;
	display:inline-block;
	text-align:center;
	margin-left:15px;
	line-height:50px;
}

.about section {
  min-height:45px;
  float:left;
  color:#aaa;
  width:100%;
  position:relative;
  text-align:justify;
}