{% extends 'madmin/base.html' %}

{% block page_header %}

    <!-- Start Page Header -->
    <div class="page-header">
        <h1 class="title">App Settings</h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'madmin:madmin_home' %}">Admin</a></li>
            <li><a href="{% url 'madmin:app_setting_list' %}">App Setting</a></li>
            <li class="active">List</li>
        </ol>

        <!-- Start Page Header Right Div -->
        <div class="right">
            <div class="btn-group" role="group" aria-label="...">
                <a href="{% url 'madmin:app_setting_create' %}" class="btn btn-light">Create</a>
            </div>
        </div>
        <!-- End Page Header Right Div -->

    </div>
    <!-- End Page Header -->

{% endblock %}


{% block content %}
    <!-- Start Panel -->
    <div class="col-md-12">
        <div class="panel panel-default">

            <!--
            <div class="panel-title">
                drivers List
            </div> -->

            <div class="panel-body table-responsive">
                <!-- The drivers list will be displayed here! -->

                <table class="table table-striped">

                    <thead>
                    <tr>
                        <td>Key</td>
                        <td>Value</td>
                    </tr>
                    </thead>

                    <tbody>

                    {% for setting in appsetting_list %}

                        <tr>
                            <td># <b>{{ setting.config }}</b></td>
                            <td>{{ setting.val }}</td>
                            <td><a href="{% url 'madmin:app_setting_update' setting.id %}">Edit</a></td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <!-- End Panel -->
{% endblock %}