{% extends 'madmin/base.html' %}

{% block page_header %}

    <!-- Start Page Header -->
    <div class="page-header">
        <h1 class="title">Bank Account List</h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'madmin:madmin_home' %}">Admin</a></li>
            <li><a href="{% url 'madmin:bank_account_list' %}">Bank Account</a></li>
            <li class="active">List</li>
        </ol>

        <!-- Start Page Header Right Div -->
        <div class="right">
            <div class="btn-group" role="group" aria-label="...">
                <a href="{% url 'madmin:bank_account_create' %}" class="btn btn-light">Create</a>
            </div>
        </div>
        <!-- End Page Header Right Div -->

    </div>
    <!-- End Page Header -->

{% endblock %}


{% block content %}
    <!-- Start Panel -->
    <div class="col-md-12">
        <div class="panel panel-default">

            <!--
            <div class="panel-title">
                drivers List
            </div> -->

            <div class="panel-body table-responsive">
                <!-- The list will be displayed here! -->

                <div style="float: right; padding-top: 0">
                    <form id="search" class="searchform">
                        <input type="text" name="query" class="searchbox" style="border: 1px solid #BDC4C9;"
                               id="searchbox" placeholder="Search">
                        <span class="searchbutton"><i onclick="search()" class="fa fa-search"></i></span>
                    </form>
                </div>
                <br/>
                <br/>
                <br/>

                <table class="table table-striped">

                    <thead>
                    <tr>
                        <td>Bank</td>
                        <td>Name</td>
                        <td>Account No</td>
                        <td>Branch</td>
                        <td>Action</td>
                    </tr>
                    </thead>

                    <tbody>

                    {% for bank_account in bankaccount_list %}

                        <tr>
                            <td> {{ bank_account.bank.name }}</td>
                            <td>{{ bank_account.user.first_name }} {{ bank_account.user.last_name }}</td>
                            <td>
                                {{ bank_account.account_no }}
                            </td>

                            <td>
                                {{ bank_account.branch }}
                            </td>

                            <td>
                                <a href="{% url 'madmin:bank_account_update' bank_account.id %}">
                                    <span class="fa fa-edit"></span> Edit
                                </a> |

                                <a href="{% url 'madmin:delete_entry' %}?model=BankAccount&pk={{ bank_account.id }}">
                                    <span class="fa fa-close"></span> Delete
                                </a>


                            </td>
                        </tr>



                    {% endfor %}

                    </tbody>
                </table>
            </div>


            <!---- PAGINATION ------>


            <div style="text-align: center;">
                <nav>
                    <ul class="pagination pagination-lg">

                        {% if page_obj.has_previous %}

                            <li>
                                <a href="{% url 'madmin:driver_list' %}?page={{ page_obj.previous_page_number }}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>

                        {% endif %}

                        {% for page_no in paginator.page_range %}
                            {% if page_obj.number == page_no %}
                                <li class="active"><a
                                        href="{% url 'madmin:driver_list' %}?page={{ page_no }}">{{ page_no }}</a></li>
                            {% else %}
                                <li><a href="{% url 'madmin:driver_list' %}?page={{ page_no }}">{{ page_no }}</a></li>
                            {% endif %}

                        {% endfor %}

                        {% if page_obj.has_next %}

                            <li>
                                <a href="{% url 'madmin:driver_list' %}?page={{ page_obj.next_page_number }}"
                                   aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>

                        {% endif %}

                    </ul>
                </nav>
            </div>

            <!---- END PAGINATION ------>

        </div>
    </div>
    <!-- End Panel -->
{% endblock %}