{% extends 'madmin/base.html' %}

{% block page_header %}

    <!-- Start Page Header -->
    <div class="page-header">
        <h1 class="title">Customer List</h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'madmin:madmin_home' %}">Admin</a></li>
            <li><a href="{% url 'madmin:customer_list' %}">Customers</a></li>
            <li class="active">List</li>
        </ol>

        <!-- Start Page Header Right Div -->
        <div class="right">
            <div class="btn-group" role="group" aria-label="...">
                <a href="{% url 'madmin:customer_create' %}" class="btn btn-light">Create</a>
            </div>
        </div>
        <!-- End Page Header Right Div -->

    </div>
    <!-- End Page Header -->

{% endblock %}


{% block content %}
    <!-- Start Panel -->
    <div class="col-md-12">
        <div class="panel panel-default">

            <!--
            <div class="panel-title">
                Customers List
            </div> -->

            <div class="panel-body table-responsive">
                <!-- The customers list will be displayed here! -->

                <div style="float: right; padding-top: 0">
                    <form id="search" class="searchform">
                        <input type="text" name="query" class="searchbox" style="border: 1px solid #BDC4C9;"
                               id="searchbox" placeholder="Search">
                        <span class="searchbutton"><i onclick="search()" class="fa fa-search"></i></span>
                    </form>
                </div>
                <br/>
                <br/>
                <br/>

                <table class="table table-striped">

                    <thead>
                    <tr>
                        <td><a href="{% url 'madmin:customer_list' %}?sort=first_name">Name</a></td>
                        <td><a href="{% url 'madmin:customer_list' %}?sort=username">Username</a></td>
                        <td><a href="{% url 'madmin:customer_list' %}?sort=email">Email</a></td>
                        <td><a href="{% url 'madmin:customer_list' %}?sort=gender">Gender</a></td>
                        <td><a href="{% url 'madmin:customer_list' %}?sort=loyalty_amount">Loyalty Amount</a></td>
                        <td><a href="{% url 'madmin:customer_list' %}?sort=deposit_amount">Deposit Amount</a></td>
                        <td>Action</td>
                    </tr>
                    </thead>

                    <tbody>

                    {% for customer in customer_list %}

                        <tr>
                            <td><b>{{ customer.first_name }} {{ customer.last_name }}</b></td>
                            <td><b>{{ customer.username }}</b></td>
                            <td>{{ customer.email }}</td>
                            <td>{{ customer.get_gender_display }}</td>
                            <td>{{ customer.loyalty_amount }} <span>ر.س </span></td>
                            <td>{{ customer.deposit_amount }} <span>ر.س </span></td>
                            <td>
                                <a href="{% url 'madmin:user_details' %}?user={{ customer.id }}">
                                    Details
                                </a> |

                                <a href="{% url 'madmin:customer_update' customer.id %}">Edit</a> |
                                <a href="{% url 'madmin:user_balance' %}?user={{ customer.id }}">Balance</a> |
                                <a href="{% url 'madmin:delete_entry' %}?model=Customer&pk={{ customer.id }}">Delete</a>
                            </td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>

            <!---- PAGINATION ------>

            <div style="text-align: center;">
                <nav>
                    <ul class="pagination pagination-lg">

                        {% if page_obj.has_previous %}

                            <li>
                                <a href="{% url 'madmin:customer_list' %}?page={{ page_obj.previous_page_number }}&query={{ query }}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>

                        {% endif %}

                        {% for page_no in paginator.page_range %}
                            <li {% if page_no == page_obj.number %} class="active" {% endif %}>
                                <a href="{% url 'madmin:customer_list' %}?page={{ page_no }}&query={{ query }}">{{ page_no }}</a>
                            </li>
                        {% endfor %}

                        {% if page_obj.has_next %}

                            <li>
                                <a href="{% url 'madmin:customer_list' %}?page={{ page_obj.next_page_number }}&query={{ query }}"
                                   aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>

                        {% endif %}

                    </ul>

                </nav>
            </div>

            <!---- END PAGINATION ------>

        </div>
    </div>
    <!-- End Panel -->
{% endblock %}