{% extends 'madmin/base.html' %}

{% block page_header %}

    <!-- Start Page Header -->
    <div class="page-header">
        <h1 class="title">Driver List</h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'madmin:madmin_home' %}">Admin</a></li>
            <li><a href="{% url 'madmin:driver_list' %}">Drivers</a></li>
            <li class="active">List</li>
        </ol>

        <!-- Start Page Header Right Div -->
        <div class="right">
            <div class="btn-group" role="group" aria-label="...">
                <a href="{% url 'madmin:driver_create' %}" class="btn btn-light">Create</a>
            </div>
        </div>
        <!-- End Page Header Right Div -->

    </div>
    <!-- End Page Header -->

{% endblock %}


{% block content %}
    <!-- Start Panel -->
    <div class="col-md-12">
        <div class="panel panel-default">

            <!--
            <div class="panel-title">
                drivers List
            </div> -->

            <div class="panel-body table-responsive">

                <div style="float: right; padding-top: 0">
                    <form id="search" class="searchform">
                        <input type="text" name="query" class="searchbox" style="border: 1px solid #BDC4C9;"
                               id="searchbox" placeholder="Search">
                        <span class="searchbutton"><i onclick="search()" class="fa fa-search"></i></span>
                    </form>
                </div>
                <br/>
                <br/>
                <br/>


                <table class="table table-striped">

                    <thead>
                    <tr>
                        <td><a href="{% url 'madmin:driver_list' %}?sort=id">User ID</a></td>
                        <td><a href="{% url 'madmin:driver_list' %}?sort=username">Username</a></td>
                        <td><a href="{% url 'madmin:driver_list' %}?sort=first_name">Full Name</a></td>
                        <td>Available?</td>
                        <td>Action</td>
                    </tr>
                    </thead>

                    <tbody>

                    {% for driver in driver_list %}

                        <tr>
                            <td>{{ driver.id }}</td>
                            <td><b>{{ driver.username }}</b></td>
                            <td>{{ driver.first_name }} {{ driver.last_name }}</td>
                            <td>
                                {% if driver.is_available %}
                                    <span class="fa fa-check">&nbsp;</span>
                                {% else %}
                                    <span class="fa fa-close">&nbsp;</span>
                                {% endif %}
                            </td>

                            <td style="font-size: 10px ">
                                <a class="btn btn-default" href="{% url 'madmin:user_balance' %}?user={{ driver.id }}">
                                    <span class="fa fa-dollar"> Balance</span>
                                </a>

                                <a class="btn btn-default" href="{% url 'madmin:user_details' %}?user={{ driver.id }}">
                                    <span class="fa fa-user"> Details</span>
                                </a>


                                <a class="btn btn-default" href="{% url 'madmin:driver_update' driver.id %}">
                                    <span class="fa fa-edit"> Update</span>
                                </a>

                                <a class="btn btn-default" href="{% url 'madmin:order_list' %}?driver={{ driver.id }}">
                                    <span class="fa fa-cab"> Orders</span>
                                </a>

                                <br/> <br/>
                                <a class="btn btn-default"
                                   href="{% url 'madmin:driver_evaluation_list' %}?driver={{ driver.id }}">
                                    <span class="fa fa-bullhorn"> Feedback</span>
                                </a>

                                <a class="btn btn-default"
                                   href="{% url 'madmin:track_driver' %}?driver={{ driver.id }}">
                                    <span class="fa fa-map-marker"> Track</span>
                                </a>

                                <br/> <br/>
                                <a class="btn btn-default" href="{% url 'madmin:hidden_driver_evaluation' driver.id %}">
                                    <span class="fa fa-gavel"> Hidden Feedback</span>
                                </a>


                                <a class="btn btn-default"
                                   href="{% url 'madmin:delete_entry' %}?model=Driver&pk={{ driver.id }}">
                                    <span class="fa fa-close">Delete</span>
                                </a>

                            </td>
                        </tr>



                    {% endfor %}

                    </tbody>
                </table>
            </div>


            <!---- PAGINATION ------>


            <div style="text-align: center;">
                <nav>
                    <ul class="pagination pagination-lg">

                        {% if page_obj.has_previous %}

                            <li>
                                <a href="{% url 'madmin:driver_list' %}?page={{ page_obj.previous_page_number }}&query={{ query }}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>

                        {% endif %}


                        {% for page_no in paginator.page_range %}

                            <li {% if page_no == page_obj.number %} class="active" {% endif %}><a
                                    href="{% url 'madmin:driver_list' %}?page={{ page_no }}&query={{ query }}">{{ page_no }}</a>
                            </li>
                        {% endfor %}

                        {% if page_obj.has_next %}

                            <li>
                                <a href="{% url 'madmin:driver_list' %}?page={{ page_obj.next_page_number }}&query={{ query }}"
                                   aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>

                        {% endif %}

                    </ul>
                </nav>
            </div>

            <!---- END PAGINATION ------>

        </div>
    </div>
    <!-- End Panel -->
{% endblock %}