{% extends 'madmin/base.html' %}

{% block page_header %}

    <!-- Start Page Header -->
    <div class="page-header">
        <h1 class="title">Driver Evaluation</h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'madmin:madmin_home' %}">Admin</a></li>
            <li><a href="{% url 'madmin:driver_evaluation_list' %}">Driver Evaluations</a></li>
            <li class="active">List</li>
        </ol>

        <!-- Start Page Header Right Div -->
        <div class="right">
            <div class="btn-group" role="group" aria-label="...">
                <!--<a href="{% url 'madmin:store_create' %}" class="btn btn-light">Create</a>-->
            </div>
        </div>
        <!-- End Page Header Right Div -->

    </div>
    <!-- End Page Header -->

{% endblock %}


{% block content %}
    <!-- Start Panel -->
    <div class="col-md-12">
        <div class="panel panel-default">

            <!--
            <div class="panel-title">
                drivers List
            </div> -->

            <div class="panel-body table-responsive">
                <!-- The drivers list will be displayed here! -->

                <table class="table table-striped">

                    <thead>
                    <tr>
                        <td><a href="{% url 'madmin:driver_evaluation_list' %}?sort=id">Order #</a></td>
                        <td><a href="{% url 'madmin:driver_evaluation_list' %}?sort=driver">Driver</a></td>
                        <td><a href="{% url 'madmin:driver_evaluation_list' %}?sort=rating">Rating</a></td>
                        <td>Feedback</td>
                        <td>Action</td>
                    </tr>
                    </thead>

                    <tbody>

                    {% for ev in driverevaluation_list %}

                        <tr>
                            <td># <b>{{ ev.order }}</b></td>
                            <td>{{ ev.driver }}</td>
                            <td>{{ ev.rating }}</td>
                            <td>{{ ev.text }}</td>
                            <td>
                                <a href="{% url 'madmin:delete_entry' %}?model=DriverEvaluation&pk={{ ev.id }}">Delete</a>
                            </td>

                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>

            <!---- PAGINATION ------>


            <div style="text-align: center;">
                <nav>
                    <ul class="pagination pagination-lg">

                        {% if page_obj.has_previous %}

                            <li>
                                <a href="{% url 'madmin:driver_evaluation_list' %}?page={{ page_obj.previous_page_number }}&status={{ status }}&driver={{ driver }}&query={{ query }}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>

                        {% endif %}


                        {% for page_no in paginator.page_range %}
                            <li {% if page_no == page_obj.number %} class="active" {% endif %}>
                                <a href="{% url 'madmin:driver_evaluation_list' %}?page={{ page_no }}&status={{ status }}&driver={{ driver }}&query={{ query }}">{{ page_no }}</a>
                            </li>
                        {% endfor %}

                        {% if page_obj.has_next %}

                            <li>
                                <a href="{% url 'madmin:driver_evaluation_list' %}?page={{ page_obj.next_page_number }}&status={{ status }}&driver={{ driver }}&query={{ query }}"
                                   aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>

                        {% endif %}

                    </ul>

                </nav>
            </div>

            <!---- END PAGINATION ------>

        </div>
    </div>
    <!-- End Panel -->
{% endblock %}