{% extends 'madmin/base.html' %}



{% block head %}

    <script type="application/javascript">
        function getSelectedIDs() {
            var IDs = [];
            $("input[type='checkbox']:checked").each(function () {
                IDs.push($(this).attr('id'));
            });

            return IDs;
        }

        function trackOrders() {
            var ids = getSelectedIDs();
            if (ids.length < 1) {
                alert("Please select at least one order!")
                return false;
            }
            var query_string = ids.join(",");
            location.href = "{% url 'madmin:track_order' %}?orders=" + query_string
        }
    </script>

    <script src="{{ STATIC_URL }}js/jquery.bpopup.min.js"></script>

    <script>
        function showDriver() {

            var ids = getSelectedIDs();
            if (ids.length < 1) {
                alert("Please select at least one order!")
                return false;
            }

            $("#kenshi").bPopup();
        }

        function showStatusChoices() {

            var ids = getSelectedIDs();
            if (ids.length < 1) {
                alert("Please select at least one order!")
                return false;
            }

            $("#himura").bPopup();
        }

        function updateStatus() {
            var ids = getSelectedIDs();
            var orders_string = ids.join(",");
            var status = $("#status_choices").val();
            location.href = "{% url 'madmin:update_order_status' %}?orders=" + orders_string + "&status=" + status
        }


        function assignDriver() {
            var ids = getSelectedIDs();
            var orders_string = ids.join(",");
            var driver_id = $("#driver").val();
            location.href = "{% url 'madmin:assign_driver' %}?orders=" + orders_string + "&driver=" + driver_id
        }


        $(document).ready(function () {

            $('select#status_filter').on('change', function () {
                var shortcode = this.value;
                var base_url = "{% url 'madmin:order_list' %}?status="
                location.href = base_url + shortcode;
            });
        });

    </script>

{% endblock %}

{% block page_header %}

    <!-- Start Page Header -->
    <div class="page-header">
        <h1 class="title">
            Orders List
        </h1>
        <ol class="breadcrumb">
            <li><a href="#">Admin</a></li>
            <li><a href="{% url 'madmin:order_list' %}">Orders</a></li>
            <li class="active">List</li>
        </ol>

        <!-- Start Page Header Right Div -->
        <div class="right">
            <div class="btn-group" role="group" aria-label="...">

                <a onclick="trackOrders()" class="btn btn-default">
                    Track Orders
                </a>

                <a onclick="showStatusChoices()" class="btn btn-default">
                    Change Status
                </a>

                <a onclick="showDriver()" class="btn btn-default">Assign Driver</a>

                {% if is_pending %}
                    <a href="{% url 'madmin:order_list' %}" class="btn btn-success">All</a>
                {% else %}
                    <a href="{% url 'madmin:pending_order_list' %}" class="btn btn-success">Pending</a>
                {% endif %}

                <!-- <a href="{% url 'madmin:order_create' %}" class="btn btn-light">Create</a> -->

            </div>
        </div>
        <!-- End Page Header Right Div -->

    </div>
    <!-- End Page Header -->

{% endblock %}


{% block content %}
    <!-- Start Panel -->
    <div class="col-md-12">
        <div class="panel panel-default">

            <!--
            <div class="panel-title">
                drivers List
            </div> -->

            <div class="panel-body table-responsive">
                <!-- The drivers list will be displayed here! -->

                <div>
                    <div style="float: left; padding-top: 10px">
                        <strong>Filter by Status:</strong>

                        <select id="status_filter">

                            <option value="All">All</option>
                            {% for shortcode, st in status_choices %}

                                <option value="{{ shortcode }}"
                                        {% if status == shortcode %}selected{% endif %}>{{ st }}</option>

                            {% endfor %}


                        </select>
                    </div>


                    <div style="float: right; padding-top: 0">
                        <form id="search" class="searchform">
                            <input type="text" name="query" class="searchbox" style="border: 1px solid #BDC4C9;"
                                   id="searchbox" placeholder="Search">
                            <span class="searchbutton"><i onclick="search()" class="fa fa-search"></i></span>
                        </form>
                    </div>

                </div>
                <br/>
                <br/>

                <!--
                {% for shortcode, status in status_choices %}

                    <a href="{% url 'madmin:order_list' %}?status={{ shortcode }}">{{ status }}</a> &nbsp;

                {% endfor %} -->

                <table class="table table-striped">

                    <thead>
                    <tr>
                        <td>Select</td>
                        <td><a href="{% url 'madmin:order_list' %}?sort=id">Order#</a></td>
                        <td style="max-width: 120px; overflow: hidden;"><a
                                href="{% url 'madmin:order_list' %}?sort=user">Customer</a></td>
                        <td>Store</td>
                        <td><a href="{% url 'madmin:order_list' %}?sort=driver">Driver</a></td>
                        <td><a href="{% url 'madmin:order_list' %}?sort=status">Status</a></td>
                        <td><a href="{% url 'madmin:order_list' %}?sort=pickup">Requested Pickup Time</a></td>
                        <td><a href="{% url 'madmin:order_list' %}?sort=pickup">Pickup Time</a></td>
                        <td><a href="{% url 'madmin:order_list' %}?sort=total">Total</a></td>
                        <td>Action</td>
                    </tr>
                    </thead>

                    <tbody>

                    {% for order in order_list %}

                        <tr>
                            <td><input type="checkbox" id="{{ order.id }}"/></td>
                            <td><a href="{% url 'madmin:order_detail' order.id %}">{{ order.id }}</a></td>
                            <td style="max-width: 120px; overflow: hidden;"><a
                                    href="{% url 'madmin:user_details' %}?user={{ order.user.id }}">{{ order.user }}</a>
                            </td>

                            <td style="min-width: 150px;">
                                {% if order.get_store %}
                                    <a href="{% url 'madmin:store_details' %}?store={{ order.get_store.id }}">{{ order.get_store }}</a>
                                {% else %}
                                    No Store
                                {% endif %}
                            </td>


                            <td>
                                {% if order.driver %}
                                    <a href="{% url 'madmin:user_details' %}?user={{ order.driver.id }}">{{ order.driver }}</a>
                                {% else %}
                                    None
                                {% endif %}

                            </td>


                            <td>
                                <a href="{% url 'madmin:order_list' %}?status={{ order.status }}">{{ order.get_status_display }}</a>
                            </td>
                            <td>{{ order.pickup }}</td>
                            <td>{{ order.pickedup }}</td>
                            <td> {{ order.total }} <span>ر.س </span></td>

                            <td>
                                <a href="{% url 'madmin:delete_entry' %}?model=Order&pk={{ order.id }}">Delete</a>
                            </td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>

            <!---- PAGINATION ------>


            <div style="text-align: center;">
                <nav>

                    {% if is_pending %}
                        <ul class="pagination pagination-lg">

                            {% if page_obj.has_previous %}

                                <li>
                                    <a href="{% url 'madmin:pending_order_list' %}?page={{ page_obj.previous_page_number }}&status={{ status }}&driver={{ driver }}"
                                       aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>

                            {% endif %}

                            {% for page_no in paginator.page_range %}
                                {% if page_obj.number == page_no %}

                                    <li class="active">
                                        <a href="{% url 'madmin:pending_order_list' %}?page={{ page_no }}&status={{ status }}&driver={{ driver }}">
                                            {{ page_no }}
                                        </a>
                                    </li>

                                {% else %}
                                    <li>
                                        <a href="{% url 'madmin:pending_order_list' %}?page={{ page_no }}&status={{ status }}&driver={{ driver }}">
                                            {{ page_no }}
                                        </a>
                                    </li>


                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}

                                <li>
                                    <a href="{% url 'madmin:pending_order_list' %}?page={{ page_obj.next_page_number }}&status={{ status }}&driver={{ driver }}"
                                       aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>

                            {% endif %}

                        </ul>
                    {% else %}
                        <ul class="pagination pagination-lg">

                            {% if page_obj.has_previous %}

                                <li>
                                    <a href="{% url 'madmin:order_list' %}?page={{ page_obj.previous_page_number }}&status={{ status }}&driver={{ driver }}&query={{ query }}"
                                       aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>

                            {% endif %}

                            {% for page_no in paginator.page_range %}
                                {% if page_obj.number == page_no %}

                                    <li class="active">
                                        <a href="{% url 'madmin:order_list' %}?page={{ page_no }}&status={{ status }}&driver={{ driver }}&query={{ query }}">
                                            {{ page_no }}
                                        </a>
                                    </li>

                                {% else %}
                                    <li>
                                        <a href="{% url 'madmin:order_list' %}?page={{ page_no }}&status={{ status }}&driver={{ driver }}&query={{ query }}">
                                            {{ page_no }}
                                        </a>
                                    </li>


                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}

                                <li>
                                    <a href="{% url 'madmin:order_list' %}?page={{ page_obj.next_page_number }}&status={{ status }}&driver={{ driver }}&query={{ query }}"
                                       aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>

                            {% endif %}

                        </ul>
                    {% endif %}

                </nav>
            </div>

            <!---- END PAGINATION ------>


            <div class="panel panel-default" style="display: none" id="kenshi">
                <h3>Assign a Driver</h3>

                <select id="driver">
                    {% for driver in drivers %}
                        <option value="{{ driver.id }}">{{ driver.first_name }} {{ driver.last_name }}
                            ({{ driver.username }})
                        </option>
                    {% endfor %}
                </select>

                <a onclick="assignDriver()" class="btn btn-info">Assign</a>

            </div>


            <div class="panel panel-default" style="display: none" id="himura">
                <h3>Update Status</h3>

                <select id="status_choices">
                    {% for key, val in status_choices %}
                        <option value="{{ key }}">{{ val }}</option>
                    {% endfor %}
                </select>

                <a onclick="updateStatus()" class="btn btn-info">Assign</a>

            </div>


        </div>
    </div>
    <!-- End Panel -->
{% endblock %}