{% extends 'madmin/base.html' %}

{% block head %}

    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="{{ STATIC_URL }}js/gmaps/gmaps.js"></script>

    <script>


        var map;
        $(document).ready(function () {
            map = new GMaps({
                div: '#gmaps',
                lat: {{ order.user_location.latitude }},
                lng: {{ order.user_location.longitude }},
                zoom: 10
            });

            map.addMarker({
                lat: {{ order.user_location.latitude }},
                lng: {{ order.user_location.longitude }},
                title: 'User Location'

            });


        });

    </script>


{% endblock %}

{% block page_header %}

    <!-- Start Page Header -->
    <div class="page-header">
        <h1 class="title">Order Detail</h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'madmin:madmin_home' %}">Admin</a></li>
            <li><a href="{% url 'madmin:order_list' %}">Orders</a></li>
            <li class="active">Detail</li>
        </ol>


    </div>
    <!-- End Page Header -->

{% endblock %}


{% block content %}
    <!-- Start Panel -->
    <div class="col-md-12">
        <div class="panel panel-default">


            <div class="panel-title">
                Order Detail
            </div>

            <h5>Notes:</h5>
            {{ order.additional_notes }}

            <h5>Pickup:</h5>
            {{ order.pickup }}

            <h5>Total:</h5>
            {{ order.total }}

            <h5>Address:</h5>
            <ul>
                <li><strong>Door No:</strong> {{ order.user_location.door_no }}</li>
                <li><strong>Door Color:</strong> {{ order.user_location.door_color }}</li>
                <li><strong>House No:</strong> {{ order.user_location.house_no }}</li>
                <li><strong>Street:</strong> {{ order.user_location.street }}</li>
                <li><strong>Region:</strong> {{ order.user_location.region }}</li>
                <li><strong>Phone:</strong> {{ order.user_location.phone }}</li>
                <li><strong>Note:</strong> {{ order.user_location.note }}</li>

            </ul>

            <h5>Status Changes:</h5>
            <table class="table table-striped">
                <thead>
                <tr>
                    <td>
                        Status
                    </td>
                    <td>
                        Updated At
                    </td>
                </tr>
                </thead>
                <tbody>
                {% for status_change in status_changes %}
                    <tr>
                        <td>{{ status_change.arabic_status }}</td>
                        <td>{{ status_change.updated_at }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <br/><br/>

            <div id="gmaps" class="gmaps"></div>

            <h5>Items Ordered:</h5>
            <table class="table table-striped">
                <thead>
                <tr>
                    <td>Store Name</td>
                    <td>Item Name</td>
                    <td>Quantity</td>
                    <td>Price</td>
                    <td>Purchased</td>
                </tr>
                </thead>

                <tbody>
                {% for item in order.get_items %}
                    <tr>
                        <td>
                            {{ item.store_name }}
                        </td>

                        <td>
                            {{ item.store_item.name }}
                        </td>

                        <td>
                            {{ item.quantity }}
                        </td>

                        <td>
                            {{ item.price }} <span>ر.س </span>
                        </td>

                        <td>
                            {% if item.purchased %}
                                <span class="fa fa-check">&nbsp;</span>
                            {% else %}
                                <span class="fa fa-close">&nbsp;</span>
                            {% endif %}
                        </td>

                    </tr>
                {% endfor %}

                </tbody>
            </table>


        </div>
    </div>
    <!-- End Panel -->
{% endblock %}