{% extends 'madmin/base.html' %}

{% block page_header %}

    <!-- Start Page Header -->
    <div class="page-header">
        <h1 class="title">Order Details</h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'madmin:madmin_home' %}">Admin</a></li>
            <li><a href="{% url 'madmin:order_list' %}">Orders</a></li>
            <li class="active">Details</li>
        </ol>


    </div>
    <!-- End Page Header -->

{% endblock %}


{% block content %}
    <!-- Start Panel -->
    <div class="col-md-12">
        <div class="panel panel-default">


            <div class="panel-title">
                Order Details
            </div>

            <form method='post'>

                {% csrf_token %}

                {{ form.non_field_errors }}

                {% for field in form %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                        {{ field.label_tag }} <br/> {{ field }}
                    </div>

                    <br/>
                {% endfor %}

                <input type='submit'>

            </form>


        </div>
    </div>
    <!-- End Panel -->
{% endblock %}