{% extends 'madmin/base.html' %}

{% block page_header %}

    <!-- Start Page Header -->
    <div class="page-header">
        <h1 class="title">Store Photo</h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'madmin:madmin_home' %}">Admin</a></li>
            <li><a href="{% url 'madmin:store_photo_list' %}">Store Photo</a></li>
            <li class="active">List</li>
        </ol>

        <!-- Start Page Header Right Div -->
        <div class="right">
            <div class="btn-group" role="group" aria-label="...">
                <a href="{% url 'madmin:store_photo_create' %}" class="btn btn-light">Create</a>
            </div>
        </div>
        <!-- End Page Header Right Div -->

    </div>
    <!-- End Page Header -->

{% endblock %}


{% block content %}
    <!-- Start Panel -->
    <div class="col-md-12">
        <div class="panel panel-default">

            <!--
            <div class="panel-title">
                drivers List
            </div> -->

            <div class="panel-body table-responsive">
                <!-- The drivers list will be displayed here! -->

                <table class="table table-striped">

                    <thead>
                    <tr>
                        <td>Store</td>
                        <td>Photo</td>
                        <td>Approved</td>


                        <td>Approve/Unapprove</td>
                        <td>Action</td>
                    </tr>
                    </thead>

                    <tbody>

                    {% for store_photo in storephoto_list %}

                        <tr>
                            <td># <b>{{ store_photo.store }}</b></td>
                            <td><img src="{{ store_photo.photo.url }}" alt=""/></td>
                            <td>
                                {% if store_photo.approved %}
                                    <span class="fa fa-check">&nbsp;</span>
                                {% else %}
                                    <span class="fa fa-close">&nbsp;</span>
                                {% endif %}

                            </td>

                            <td>
                                <a href="{% url 'madmin:store_photo_approve' %}?action=approve&store_photo={{ store_photo.id }}">
                                    <span class="fa fa-check">&nbsp;</span>
                                </a> / &nbsp;
                                <a href="{% url 'madmin:store_photo_approve' %}?action=unapprove&store_photo={{ store_photo.id }}">
                                    <span class="fa fa-close">&nbsp;</span>
                                </a>

                            </td>
                        <td>
                            <a href="{% url 'madmin:delete_entry'%}?model=StorePhoto&pk={{ store_photo.id }}">Delete</a>
                        </td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>

            <!---- PAGINATION ------>

            <div style="text-align: center;">
                <nav>
                    <ul class="pagination pagination-lg">

                        {% if page_obj.has_previous %}

                            <li>
                                <a href="{% url 'madmin:store_photo_list' %}?page={{ page_obj.previous_page_number }}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>

                        {% endif %}

                        {% for page_no in paginator.page_range %}
                            <li {% if page_no == page_obj.number %} class="active" {% endif %}>
                                <a href="{% url 'madmin:store_photo_list' %}?page={{ page_no }}">{{ page_no }}</a>
                            </li>
                        {% endfor %}

                        {% if page_obj.has_next %}

                            <li>
                                <a href="{% url 'madmin:store_photo_list' %}?page={{ page_obj.next_page_number }}"
                                   aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>

                        {% endif %}

                    </ul>

                </nav>
            </div>

            <!---- END PAGINATION ------>


        </div>
    </div>
    <!-- End Panel -->
{% endblock %}