{% extends 'madmin/base.html' %}

{% block page_header %}

    <!-- Start Page Header -->
    <div class="page-header">
        <h1 class="title">Stores List</h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'madmin:madmin_home' %}">Admin</a></li>
            <li><a href="{% url 'madmin:store_list' %}">Stores</a></li>
            <li class="active">List</li>
        </ol>

        <!-- Start Page Header Right Div -->
        <div class="right">
            <div class="btn-group" role="group" aria-label="...">
                <a href="{% url 'madmin:store_create' %}" class="btn btn-light">Create</a>
                <a href="{% url 'madmin:store_owner_form' %}" class="btn btn-light">Create with Owner</a>
            </div>
        </div>
        <!-- End Page Header Right Div -->

    </div>
    <!-- End Page Header -->

{% endblock %}


{% block content %}
    <!-- Start Panel -->
    <div class="col-md-12">
        <div class="panel panel-default">

            <!--
            <div class="panel-title">
                drivers List
            </div> -->

            <div class="panel-body table-responsive">
                <!-- The stores list will be displayed here! -->

                <div style="float: right; padding-top: 0">
                    <form id="search" class="searchform">
                        <input type="text" name="query" class="searchbox" style="border: 1px solid #BDC4C9;"
                               id="searchbox" placeholder="Search">
                        <span class="searchbutton"><i onclick="search()" class="fa fa-search"></i></span>
                    </form>
                </div>
                <br/>
                <br/>
                <br/>


                <table class="table table-striped">

                    <thead>
                    <tr>
                        <td><a href="{% url 'madmin:store_list' %}?sort=id">ID</a></td>
                        <td><a href="{% url 'madmin:store_list' %}?sort=name">Name</a></td>
                        <td><a href="{% url 'madmin:store_list' %}?sort=store_type">Store Type</a></td>
                        <td>Favourite?</td>
                        <td>Description</td>
                        <td>Action</td>
                    </tr>
                    </thead>

                    <tbody>

                    {% for store in store_list %}

                        <tr>
                            <td><b>{{ store.id }}</b></td>
                            <td>{{ store.name }}</td>
                            <td>{{ store.store_type.name }}</td>
                            <td>
                                {% if store.favorite %}
                                    <span class="fa fa-check">&nbsp;</span>
                                {% else %}
                                    <span class="fa fa-close">&nbsp;</span>
                                {% endif %}
                            </td>
                            <td>{{ store.description }}</td>

                            <td>
                                <a href="{% url 'madmin:store_details' %}?store={{ store.id }}">Details</a> |
                                <!-- <a href="{% url 'madmin:store_update' store.id %}">Edit</a> | -->
                                <a href="{% url 'madmin:store_owner_form' %}?store={{ store.id }}">Edit</a> |
                                <a href="{% url 'madmin:delete_entry' %}?model=Store&pk={{ store.id }}">Delete</a>

                            </td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>

            <!---- PAGINATION ------>

            <div style="text-align: center;">
                <nav>
                    <ul class="pagination pagination-lg">

                        {% if page_obj.has_previous %}

                            <li>
                                <a href="{% url 'madmin:store_list' %}?page={{ page_obj.previous_page_number }}&query={{ query }}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>

                        {% endif %}

                        {% for page_no in paginator.page_range %}
                            <li {% if page_no == page_obj.number %} class="active" {% endif %}>
                                <a href="{% url 'madmin:store_list' %}?page={{ page_no }}&query={{ query }}">{{ page_no }}</a>
                            </li>
                        {% endfor %}

                        {% if page_obj.has_next %}

                            <li>
                                <a href="{% url 'madmin:store_list' %}?page={{ page_obj.next_page_number }}&query={{ query }}"
                                   aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>

                        {% endif %}

                    </ul>

                </nav>
            </div>

            <!---- END PAGINATION ------>

        </div>
    </div>
    <!-- End Panel -->
{% endblock %}