{% extends 'madmin/base.html' %}

{% block page_header %}

    <!-- Start Page Header -->
    <div class="page-header">
        <h1 class="title">User Location List</h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'madmin:madmin_home' %}">Admin</a></li>
            <li><a href="{% url 'madmin:user_location_list' %}">User Locations</a></li>
            <li class="active">List</li>
        </ol>

        <!-- Start Page Header Right Div -->
        <div class="right">
            <div class="btn-group" role="group" aria-label="...">
                <a href="{% url 'madmin:user_location_create' %}" class="btn btn-light">Create</a>
            </div>
        </div>
        <!-- End Page Header Right Div -->

    </div>
    <!-- End Page Header -->

{% endblock %}


{% block content %}
    <!-- Start Panel -->
    <div class="col-md-12">
        <div class="panel panel-default">

            <!--
            <div class="panel-title">
                drivers List
            </div> -->

            <div class="panel-body table-responsive">
                <!-- The drivers list will be displayed here! -->

                <table class="table table-striped">

                    <thead>
                    <tr>
                        <td>User</td>
                        <td>Name</td>

                    </tr>
                    </thead>

                    <tbody>

                    {% for user_location in userlocation_list %}

                        <tr>
                            <td># <b>{{ user_location.user.username }}</b></td>
                            <td>{{ user_location.name }}</td>
                            <td>
                                <a href="{% url 'madmin:user_location_update' user_location.id %}">Edit</a>
                                <a href="{% url 'madmin:delete_entry' %}?model=UserLocation&pk={{ user_location.id }}">Delete</a>
                            </td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <!-- End Panel -->
{% endblock %}